# rename it to .env

# mySQL
MYSQL_ROOT_PASSWORD=123456
MYSQL_DATABASE=thorchain
MYSQL_USER=odin
MYSQL_PASSWORD=123456

# Sentry
SENTRY_DSN=
SENTRY_PUBLIC_DSN=

# Vue app will only detect VUE_APP_* envs
VUE_APP_SENTRY_PUBLIC_DSN=


DOCKER_COMPOSE_FILE=docker-compose.yml
# DOCKER_COMPOSE_FILE=docker-compose-prod.yml
